<launch>
  <!-- <group ns="rob2">
  <param name="tf_prefix" value="rob2" />
  <include file="$(find robotag)/launch/gazebo.launch" >
  <arg name="init_pose" value="-x 0 -y 1 -z 0" />
  <arg name="robot_name"  value="Rob2" />
  </include>
  </group> -->
  <node name="rob1" pkg="robotag" type="allinone.py" output="screen"/>
  <node name="receiver" pkg="robotag" type="receiver.py" output="screen"/>
  <node name="sender" pkg="robotag" type="sender.py" output="screen"/>
  <include file="$(find robotag)/launch/turtlebot3_navigation.launch"/>
  <node name="amcl_coordinates" pkg="robotag" type="amcl_coordinates.py" output="screen"/>



</launch>

  
    


  

